.everything {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.frame {
    align-self: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    width: 400px;
    height: 500px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 130px 1fr;
    z-index: 1;
    position: relative;
}

.display {
    background-color: rgb(235, 235, 235);
    backdrop-filter: blur(10px);
    outline: 2px solid rgba(0, 0, 0, 0.142);
    border-radius: 10px;
    margin: 10px;
    font-size: 30px;
    text-align: right;
    padding: 10px;
}

.keys {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 10px;
    margin: 10px;
}

button {
    width: 80px;
    height: 55px;
    border-radius: 10px;
    color: white;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    border: none;
    transition: 0.1s;
    font-size: 16px;
}
button:hover {
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.8);
}
button:active {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    width: 75px;
    height: 50px;
    margin-left: 2.5px;
    margin-top: 2.5px;
}

.c1, .c2, .c3 {
    background-color: #896deb;
}

.r5, .c4 {
    background-color: hsl(259, 100%, 80%);
}

input {
    height: 45px;
    width: 350px;
    font-size: 20px;
    text-align: right;
    background-color: inherit;
    border: none;
    cursor: default;
    background: transparent;
}
input:focus, input:active {
    outline: none;
    border: none;
    box-shadow: none;
}

.leftPanel, .rightPanel {
    width: 300px;
    height: 500px;  
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    position: relative;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    font-size: large;
}

.leftPanel {
    transform: translateX(100%);
}

.rightPanel {
    transform: translateX(-100%);
}

.leftPanel.active {
    transform: translateX(0%);
}

.rightPanel.active {
    transform: translateX(0%);
}

.toggleLeft, .toggleRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #00000033;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
    box-shadow: none;
}

.toggleLeft {
    left: -50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.toggleRight {
    right: -50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.toggleRight:hover {
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.8);
}
.toggleLeft:hover{
    box-shadow: -3px 4px 5px rgba(0, 0, 0, 0.8);
}

.toggleLeft:active, .toggleRight:active {
    background-color: #896deb;
    width: 47px;
}


#memory {
    margin-top: 30px;
    width: 100%;
    height: 400px;
    background: transparent;
    border: none;
    resize: none;
    font-size: large;
    text-align: right;
}

#del{
    background-color: #896deb;
    width: 200px;
    height: 30px;
    margin-top: 10px;
}

.scroll-box {
    width: 275px;
    height: 430px;
    border: 2px solid #896deb;
    border-radius: 10px;
    overflow-y: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    margin-top: 20px;
}

.scroll-box button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #d3caf6;
    color: rgb(60, 53, 53);
    border: none;
    border-radius: 8px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    transition: 0.1s;
    
}

.scroll-box button:hover {
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.8);
}

.scroll-box button:active {
    background-color: hsl(259, 100%, 80%);
}

